colorama==0.4.4
stringcase==1.2.0
ruamel.yaml==0.17.20
tomlkit==0.8.0

# dev
flake8==3.9.2
pytest==6.2.5
pylint==2.8.3
pytest-pylint==0.18.0
pytest-flake8==1.0.7
pytest-cov==2.12.1
sphinx==2.1.2
Flask-Sphinx-Themes==1.0.2
m2r==0.2.1
